.uploaderContainer {
  height: auto;
  width: 70%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 40px 25px rgba(16,19,29,.8);
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chooseFileButton {
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #027bec;;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 10px 15px;
}
.chooseFileButton:hover {
    background-color: #0070da;
}

.dragFileInputLabel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}

.dragDropArea {
  height: 275px;
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef4f8;
  border: 2px dashed #5a7fa3;
  border-radius: 8px;
  margin: 20px 0;
  transition: background-color .5s ease;
}
.dragDropArea:hover {
    background-color: #d9e0e4;
}

.uploadIcon {
  background-image: url("../../../assets/AddImageIcon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 70px;
  padding-bottom: 30px;
}

.titleFormText {
    font-weight: 300;
}

.smallFormText {
  font-size: 12px;
  color: grey;
  margin: 0;
}

input[type="file"] {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

label:hover {
    cursor: pointer;
}

