.newPostContainer {
  width: 85%;
  padding: 15px;
  border: none;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: white;
  margin: 15px 0;
}

/* Title */
.newPostContainer > h4 {
  font-size: 13px;
  color: rgb(68, 68, 68);
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: solid lightgray 0.5px;
}

/* Users profile image, their input text */
.postTextContainer {
  display: flex;
}

.postTextContainer > img, .postTextContainer > div {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 4px;
  margin-right: 10px;
}

.postTextContainer > input {
  border: none;
  flex-grow: 1;
  font-size: 16px;
}

/* Options to post image, set privacy, and post button */
.postOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.postOptions > div {
  display: flex;
}

.postOptions > div > button  {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f64d6;
  border: none;
  background-color: transparent;
  padding: 0 10px 0 0;
}

.postOptions > div > button > img {
  filter: invert(28%) sepia(89%) saturate(1111%) hue-rotate(200deg)
    brightness(103%) contrast(97%);
}

.globeIcon {
  margin-right: 5px;
}

.postOptions > button {
  background-color: #2f64d6;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 8px 25px;
}

.postOptions > button:hover {
  background-color: #2b5dc7;
}