.modalContainer {
  height: auto;
  width: auto;
  border: solid lightgray 1px;
  background-color: white;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 67px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalContainer > button, .profileSettingContainer > button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 55px 10px 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
}

.modalContainer > button:hover, .profileSettingContainer > button:hover {
  background-color: #EFEFEF;
}

.profileSettingContainer {
  border-bottom: solid lightgray 1px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.signOut {
  color: red;
}

.signOut > img {
  filter: invert(18%) sepia(70%) saturate(4947%) hue-rotate(339deg) brightness(79%) contrast(112%);
}

.profileSettingContainer > button > img, .signOut > img {
  margin-right: 10px;
}
