.searchContainer {
  width: 85%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  padding: 10px;
  margin: 15px 0;
}

.searchContainer > label {
  display: flex;
  width: 70%;
}

.searchContainer > label > input {
  font-size: 16px;
}

.searchContainer > label > img {
  filter: invert(76%) sepia(9%) saturate(4%) hue-rotate(314deg) brightness(90%)
    contrast(87%);
  margin-right: 15px;
}

.searchContainer > button {
  background-color: #2f64d6;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 8px 25px;
}
