.exploreContainer {
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.postSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
