.navBar {
  height: auto;
  width: 100%;
  background-color: white;
  border-top: .5px solid lightgray;
}

.navIconsContainer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.navIconsContainer > button:hover {
  background-color: #efefef;
}

.slidingBarContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.slidingBarContainer > div {
  width: 20%;
}

.activeSlidingBar {
  border: 1px solid #2f64d6;
  border-radius: 10px;
  height: 2px;
  background-color: #2f64d6;
}

.unactiveSlidingBar {
  border: none;
}

.navIconsContainer > button {
  width: 30%;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIconsContainer img {
  margin: 0;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selectedIconColor {
  filter: invert(28%) sepia(89%) saturate(1111%) hue-rotate(200deg)
    brightness(103%) contrast(97%);
}

.unselectedIconColor {
  filter: invert(76%) sepia(9%) saturate(4%) hue-rotate(314deg) brightness(90%)
    contrast(87%);
}

@media screen and (min-width: 770px) {
  
}
